<!DOCTYPE html>

　　<html>

　　<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="js/fartscroll.js"></script>
        <script>
        $(document).ready(function() {
            // Ensure the page always has more scrolling
            $(document).scroll(function() {
                while ((window.pageYOffset + window.innerHeight) >= $(this).height() - (window.innerHeight / 2)) {
                    $('ul').append('<li>Testing.</li>');
                }
            }).scroll();

            fartscroll(800);
        });
        </script>

　　　　<meta http-equiv="content-type" content="text/html; charset=GBK" />
			<style type="text/css" media="all">@import "css/master.css";</style>
			
　　　　<title>{{ page.title }}</title>

　　</head>

　　<body>
			<div id="page-container">
			Hello world.
			</div>
 　　　　{{ content }}
			<div>
			<audio controls="controls" autoplay="true">
			<source src="https://github.com/yubaoquan/yubaoquan.github.com/blob/master/_bgm/21.mp3" type="audio/mpeg">
			Your browser does not support the audio element.
			</audio>
			</div>

			<li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
            <li>pu</li>
 　　</body>

　　</html>
